<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html leng="en">
<head>
	<title>PiTube</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Bienvenu sur PiTube !</h1>
		<p>Musique en cours: <%= nowPlaying %></p>
		<h2>Fichiers en cache: </h2>
		<table class="table table-striped">
			<% for(var i=0; i<musics.length; i++) {%>
				<tr><td><%= i+1 %></td><td><a target="_blank" href=".<%= apiPath %><%= musics[i] %>"<%= musics[i] %>><%= musics[i] %></a></tr></td>
			<% } %>
		</ul>
	</div>
</body>