<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html leng="en">
<head>
	<title>PiTube</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to PiTube !</h1>
		<p>Now playing: <em id="nowPlaying"><%= nowPlaying %></em></p>
		<form id="play" action="/" class="form-group">
			<input type="text" name="music" placeholder="music" class="form-control">
			<input type="submit" value="listen" class="form-control">
		</form> 
		<h2>Cached files: </h2>
		<table class="table table-striped" id="cachedFiles">
			<% for(var i=0; i<musics.length; i++) {%>
				<tr><td><a class="musicLinks" name="<%= musics[i] %>" href=".<%= apiPath %><%= musics[i] %>"><%= musics[i] %></a></tr></td>
			<% } %>
		</ul>
	</div>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript">
		$("#play").submit(function(event) {
			event.preventDefault();
			$.get('http://<%= ip %>:1337/PiTube/api/' + $("#play").find('input[name="music"]').val());
			$("#nowPlaying").text($("#play").find('input[name="music"]').val());
		});

		$('.musicLinks').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href');
			$.get(url);
			$("#nowPlaying").text($(this).attr('name'));
		});

		var socket = io.connect('<%= ip %>:1337');
		socket.on('message', function(message){
			alert(message);
		});

		socket.on('nowPlaying', function(message){
			console.log(message);
			$("#nowPlaying").text(message);
		});

		socket.on('newFile', function(message){
			$('#cachedFiles').append('<tr><td><a class="muiscLinks" name="'+message+'"href=".<%= apiPath %>'+message+'">'+message+'</a></tr></td>');
		});
	</script>
</body>
</html>